<mat-card class="user-card">
  <mat-card-content class="user-card-content" (click)="navigateToUser()">
    <div class="user-header">
      <div
        class="user-avatar"
        [class.miss]="user?.title?.toLowerCase() != 'mr'"
      >
        <img [src]="user?.picture ? user?.picture : defaultUserPicture" />
      </div>
      <div class="container-labels">
        <div class="user-title">
          {{ (user?.title ? user?.title : "Título") | uppercase }}
        </div>
        <div class="user-name">
          {{ user?.firstName ? user?.firstName : "Nome" }}
          {{ user?.lastName ? user?.lastName : "Sobrenome" }}
        </div>
        <div class="user-email">{{ user?.email }}</div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="showButtons" class="user-card-actions">
    <button
      mat-button
      (click)="navigateToUpdateUser(user?.id)"
      class="edit-button"
    >
      Editar
    </button>
    <button mat-button (click)="userDelete()" class="delete-button">
      Excluir
    </button>
  </mat-card-actions>
</mat-card>
